@use '../util/' as *;

h1, 
h2,
h3 {
    margin-top: 0;
    letter-spacing: 1px;
}

h1 {
    font-size: rem(22);
    margin-bottom: rem(3);
    @include breakpoint(medium){
        font-size: rem(26);
    }
}

h2 {
    font-size: rem(20);
    margin-bottom: rem(22);
    @include breakpoint(medium){
        font-size: rem(22);
    }
}

a, 
a:visited, 
a:active {
    text-decoration: none;
}

.big-text{
    font-size: rem(32);
    font-weight: bold;
    color: var(--text-main);
}