@use '../util/' as *;

.card {
    background-color: var(--card);
    color: var(--text-sec);
    border-radius: rem(5);
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: rem(25);
    transition: background-color 150ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--card-hover);
    }

    &__small{
        display: grid;
        gap: 0 rem(16);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        font-size: rem(14);
        font-weight: bold;
        text-align: left;
    }

    &--facebook {
        border-top: rem(4) solid var(--facebook);
    }
    &--twitter {
        border-top: rem(4) solid var(--twitter);
    }
    &--instagram {
        padding-top: rem(29);
        &::before {
            content: "";
            height: rem(4);
            width: 100%;
            background: var(--instagram);
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &--youtube {
        border-top: rem(4) solid var(--youtube);
    }

    &__platform {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(8);
        margin-bottom: rem(28);
        font-size: rem(12);
        font-weight: bold;
    }

    &__count {
        color: var(--text-main);
        font-size: rem(56);
        font-weight: bold;
        margin-bottom: rem(25);
        letter-spacing: rem(-2);
    }

    &__label {
        font-size: rem(12);
        color: var(--text-sec);
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: rem(5);
    }

    &__change {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(4);
        font-size: rem(12);
        font-weight: bold;

        &--up {
            color: var(--limegreen);
        }

        &--smUp {
            color: var(--limegreen);
            justify-content: flex-end;
        }

        &--down {
            color: var(--brightred);
        }

        &--smDown {
            color: var(--brightred);
            justify-content: flex-end;
        }
    }
}

.icon {
    text-align: right;
}